*{
    box-sizing: border-box;
    margin: 0;
}


body{
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px black;
}

main{
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top{
    display: flex;
    justify-content: space-between;
}

.time{
    text-align: center;
}

#crypto{
    width:150px;
    height: 200px;
}

#crypto-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    font-size: 1.5rem;
}

#crypto-top img{
    width:40px;
}

#weather{
    width:200px;
    height: 150px;
    display:flex;
    flex-wrap: wrap;
}

#weather img{
    width:100px;
}

#weather h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#weather p{
    display: block;
    margin: 0 auto;
    font-size: 20px;
}

.time{
    font-size: 100px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


